@keyframes page_loader {
    0% {
        opacity: 1;
        z-index: 3;

    }

    20% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 0;
        z-index: -100;
        visibility: hidden;
    }
}

@keyframes spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

@keyframes items-loader {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    20% {
        opacity: 0.3;
    }

    50% {
        opacity: 0.5;
    }

    80% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.delay1 {
    animation-duration: 1s;
}

.delay2 {
    animation-duration: 2s;
}

.delay3 {
    animation-duration: 3s;
}


.delay4 {
    animation-duration: 4s;
}

@keyframes heart-fadein {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.5;
    }

    80% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}