/* the home page loading animation  */
@keyframes page_loader {
    0% {
        opacity: 1;
        z-index: 3;

    }

    20% {
        opacity: 0.8;
        z-index: 3;
    }

    50% {
        opacity: 0.3;
        z-index: 3;
    }

    100% {
        opacity: 0;
        z-index: -100;
        visibility: hidden;
    }
}

/* the home page loading spinner animation */
@keyframes spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

/* the dish loading animation */
@keyframes items-loader {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    20% {
        opacity: 0.3;
    }

    50% {
        opacity: 0.5;
    }

    80% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}





/* the heart button animation */
@keyframes heart-fadein {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.5;
    }

    80% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}