/* logo image */
.header-logo>img {
    width: 200px;
    padding: 16px 0px;
}

/* The site locatoin and the icon */
.location {
    @include center;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    gap: 15px;
    background-color: #e8e8e8;
    @include box-shadow;
}

/* Berif discription of the company */
.advert-text {
    @include center;
    flex-direction: column;
    background-color: $backgd-color;
    height: 250px;
    text-align: center;
    color: rgb(50, 50, 50);

    &__btn {
        text-decoration: none;
        @include box-shadow;
        width: 200px;
        background: linear-gradient(#FF79DA, #9356DC);
        text-align: center;
        color: white;
        border-radius: 50px;
        @include transition;
        cursor: pointer;

        &:hover {
            transform: scale(1.25);
            background: linear-gradient(90deg, #FF79DA 30%, #9356DC);
        }

    }
}

.discription {
    padding-left: 16px;
    font-weight: bold;

}

/* The discription of how it works section */
.list {
    list-style: none;
    padding-inline-start: 0px;
    padding: 0px 16px;
    @include center;
    flex-direction: column;
    margin-bottom: 50px;


    &__items {
        @include center;
        justify-content: left;
        @include box-shadow;
        background-color: $backgd-color;
        margin-bottom: 16px;
        padding-left: 0%;
        height: 70px;
        width: 300px;
        border-radius: 16px;
        gap: 10px;
        position: relative;
        cursor: pointer;

        &:hover {
            .list__icon {
                color: $primary-color;
            }
        }
    }

    &__nunbers {
        background-color: $primary-color;
        width: 25px;
        height: 25px;
        color: $text-color;
        border-radius: 50%;
        @include center;
        position: inherit;
        left: -10px;
    }

    &__icon {
        color: gray;
        font-size: 25px;
    }

    &__text {
        font-weight: bold;
        font-size: large;
    }
}

/* menu cards container */
.menu-container {
    background-color: $backgd-color;

    &__tittle {
        padding: 16px;
        font-size: 25px;
    }

}

/* cards container */
.menus {
    @include grid-row;
    width: 100%;
    padding-bottom: 30px;

}

/* The card's image and the button new */
.menu-card__img {
    width: 100%;
    height: 180px;
    position: relative;

    &--text {
        @include center;
        background-color: $tertiary-color;
        color: green;
        width: 80px;
        height: 30px;
        font-weight: bold;
        position: absolute;
        top: 20px;
        right: 20px;

    }
}

/* The cards, card name, heart button and location */
.menu-card {
    width: 300px;
    height: 250px;
    background-color: $text-color;
    border-radius: 16px;
    margin-bottom: 20px;
    line-height: 2px;
    overflow: hidden;
    @include box-shadow;
    position: relative;
    z-index: 2;

    &__text {
        @include center;
        justify-content: flex-start;
        justify-content: space-between;
        padding: 0px 16px 0px 16px;
        position: relative;

        &--icon {
            transition: transform .6s ease-in-out;
            overflow: hidden;
            position: relative;
            width: 20px;
            height: 25px;
            margin-top: 10px;


            &-purple {
                color: #800080;
                opacity: 0;

                &:hover {
                    animation: heart-fadein .6s forwards;
                    transform: translateY(0);

                }
            }

            &-black {
                position: absolute;

                &:hover {
                    color: purple;
                    transform: translateY(100%);
                }
            }

        }
    }

    &__location {
        padding-left: 16px;

    }
}