$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$backgd-color: #F2F2F2;
$text-color: #fff;
$anim-duration: 1000ms;


$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700,
);